NODE_ENV=development
PORT=3000
LOCAL_DATABASE_URI='mongodb://127.0.0.1:27017/guitarhaus_db'
FILE_UPLOAD_PATH= ./public/uploads
MAX_FILE_UPLOAD=20000
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30
STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_PUBLISHABLE_KEY=pk_test_51Rq87wC14naaUubxN4WVucJdAozvCPrwSgdmzceKPC6Hzltw0TrLgWHTjNeBDxG5iQHCqlofgBOGbasQ5vsVBsx400Z4nkf6Fo 